@media (min-width:380px) {
  body {
    color: #000;
    background: #f5f4f0;
    line-height: 23px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif; 
    font-size: 18px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 23px;
  }

  ul:first-of-type {
    padding: 0px;
    margin-left: 1.5em;
  }

  a, a:hover, a:active, a:visited {
    color: #226082;
    text-decoration: none;
  }

  nav {
    padding: 20px 0px;
  }

  nav a {
    color: #000 !important;
    display: block;
    margin: 0.5em 0px;
    text-align: center;
  }

  nav a:first-child {
    padding-left: 0;
  }

  nav a h1 {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin: 0;
    margin-right: 0.5em;
    position: relative;
    bottom: 2px;
  }

  nav a h2 {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: normal;
    color:#555;
    margin: 0;
    margin-right: 0.5em;
    position: relative;
    font-size: 14px;
    bottom: 10px;
  }

  nav h2:active {
    text-decoration: underline #555;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
  }

  nav h2:hover {
    text-decoration: underline #555;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
  }

  nav h2:focus {
    text-decoration: underline #555;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
  }

  u {
    text-decoration: underline #555;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
  }

  main {
    clear: both;
    padding: 1em 1em 1em 2px;
  }

  .hidden {
    display: none;
  }

  .swatch {
    color: #000;
    padding: 10px;
    float: right;
    margin: 0 3px;
    cursor: pointer;
  }

  .swatch#Xflaring {
    background: #e12700;
  }

  .swatch#Mflaring {
    background: #22a922;
  }

  .swatch#Cflaring {
    background: #dcbe26;
  }

  .swatch#all {
    background: #000;
  }

}

@media (min-width:640px) {
  nav a {
    text-align: left;
    float: left;
    margin: 0 0.5em 0 0;
  }

  nav a h1 {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin: 0;
    margin-right: 0.5em;
    position: relative;
    bottom: 2px;
  }

  nav a h2 {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: normal;
    color:#555;
    margin: 0;
    margin-right: 0.5em;
    position: relative;
    font-size: 14px;
    bottom: 0px;
    top: 2px;
  }

  .swatch {
    padding: 4px;
  }

}

@media (min-width:800px) {
  body {
    margin: 1em auto 0.5em 2em;
    color: #000;
    background: #f5f4f0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 18px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: normal; 
    line-height: 24px;
    width: 800px;
  }

  nav a {
    padding: 0 2px;
  }

  nav a h1 {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 40px;
    margin-right: 10px;
    margin-left: 0px;
    position: relative;
    bottom: 8px;
  }

  nav a h2 {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    color:#555;
    margin: 0;
    margin-right: 8px;
    margin-left: 0px;
    margin-top:2px;
    margin-bottom: 0px;
    position: relative;
    bottom: 0px;
    top: 0px;
  }

  .swatch {
    padding: 4px;
    position: relative;
    top: 10px;
  }

/* D3/SVG CSS */

svg .axis path,
svg .axis line {
  fill: none;
  stroke: gray;
  stroke-width: 2;
  shape-rendering: crispEdges;
}

svg .axis text {
  font-family: Lato;
  font-size: 20px;
  fill: gray
}

svg circle:hover {
  fill: purple;
}

svg path {
  fill: #f5f4f0;
  opacity: 1.0;
  stroke-linejoin: round;
}

svg .graticule {
  stroke: #aaa;
  fill: #f5f4f0;
  opacity: 1.0;
}

/* D3 VISUALIZATION TOOLTIP */

#tooltip {
  position: absolute;
  width: 400px;
  height: auto;
  padding: 10px;
  background: #f5f4f0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip p {
  margin: 0;
  font-size: 20px;
  line-height: 20px;
}
}